.movie_container #movie {
margin-left: 10px;
padding: 5px 15px;
font-size: 14px;
border-radius: 5px;
appearance: none;
}
.showcase {
margin: 16PX;
padding: 5px 10px;
display: flex;
/* justify-content: space-between; */
background: 0, 0, 0, 0.1;
}
.showcase li {
margin: 10px;
display: flex;
font-size: 14px;
}
.seat {
background-color: #5b5b6b;
height: 12px;
width: 15px;
margin: 3px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.seat.selected {
background-color: #6feaf6;
}
.seat.occupied {
background-color: #fd0707;
}
.container {
perspective: 1000px;
}
.container .screen {
width: 200px;
height: 70px;
margin: 15px;
background-color: #ffffff;
transform: perspective(25px) rotateX(-3deg);
box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}
.container .row {
display: flex;
}
.container .row .seat {
transition: all 0.2s;
}
.container .row .seat:nth-child(2),
.container .row .seat:nth-child(8) {
margin-right: 15px;
}
.container .row .seat:not(.occupied):hover {
transform: scale(1.2);
cursor: pointer;
}
.container p {
margin: 30px 0px;
font-size: 14px;
}
.container p span {
color: #6feaf6;
}